<!DOCTYPE html>
<html>
<head>
    <title>Veltrix Login</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
</head>

<body>

<div class="login-container">
<center>
    <h1>VELTRIX</h1>
    <h3>Login to your account</h3>

<form method="POST">
    {% csrf_token %}

    <div class="input-box">
        <label>👤 Username</label>
        <input type="text" name="username" required>
    </div>

   <div class="input-box">

    <label>🔒 Password</label>

    <div class="password-box">

        <input
            type="password"
            id="password"
            name="password"
            required
        >

        <span class="toggle-password"
              onclick="togglePassword()">
            👁
        </span>

    </div>

</div>

<button type="submit">
    LOGIN →
</button>

    {% for message in messages %}
        <p class="error">{{ message }}</p>
    {% endfor %}

</form>

<div class="login-footer">
    <p>Luxury. Performance. Innovation.</p>
    <br>
    <a href="/">← Back to Veltrix</a>
</div>
</center>
</div>
</div>
</center>

<script>

function togglePassword(){

    var password = document.getElementById("password");

    if(password.type === "password"){

        password.type = "text";

    }else{

        password.type = "password";

    }

}

</script>

</body>
</html>
</body>
</html>